.venv/
.vscode/

__pycache__/
plots/
data_processed/
paper_timelines*/
workloads_*/
bert_*/
paper_plot_traces/

dlio_*/
feb*/
mar*/
histograms/

BERT_*
DLRM_*
UNET3D_*
UNET_*

dlio_latest/
dlio_latest_proc/
train_times/
mmap_analysis/
workloads_paper/

data*/
cases/

data/8gpu_*
data/8gpus_*
data/4gpu_*
data/4gpus_*
data/2gpu_*
data/2gpus_*
data/1gpu_*
data/1gpus_*
data/results
**/weird_*

**/ta_*
data/*.out
data/*_data/
data/*_data_*/
*.out
*.log
*.json
data/writes/
notes/
ckpt_*
unique_pids

data/results_collection
data/scaled_traces_results
# Include the example trace data
!data/4gpu_test_data.tar.gz